header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#search input {
	width: 400px;
	height: 40px;
	border-radius: 5px;
	outline: none;
	font-size: 14px;
}

#logo img {
	width: 102px;
	height: 102px;
}

#avatar img {
	width: 40px;
	height: 40px;
}
